<%= form_for(@ballot) do |f| %>
  <% if @ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% @ballot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_id %><br />
    <%= f.text_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :over %><br />
    <%= f.check_box :over %>
  </div>
  <div class="field">
    <%= f.label :vote_type %><br />
    <%= f.text_field :vote_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
